body {
    margin: auto;
}

.mainwidth {
    width: 1920px;
}

.parentmainwidth {
    width: 100%;
    max-width: 1440px;
    margin: auto;
}

.header-container, .body-container, .footer-container {
    max-width: 1440px;
}

.navbar {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    margin: auto;
    /* width: 100%;
    max-width: 1440px; */
    margin-bottom: 16px;
}

.navbar1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar input {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 100%;
    text-align: left;
    color: #424242;
    border: 1px solid transparent;
    outline: none;
    width: 25%;
    transition: width 1s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}

input.searchfood:focus {
    width: 50%;
    border-bottom: 2px solid black;

}

input.searchfood::placeholder {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 100%;
    color: #424242;
}

.navbar span {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #424242;
}

.navbar button {
    padding: 14px 24px;
    width: 118px;
    height: 46px;
    background: #FFFFFF;
    box-shadow: 0px 5px 10px rgba(255, 174, 0, 0.26), 0px 20px 40px rgba(255, 174, 0, 0.29);
    border-radius: 8px;
    margin-left: 15px;
}

.flexclass {
    display: flex;
    flex-direction: row;
}

.findfood {
    background-image: url('Images/background.png');
    overflow-x: hidden;
    overflow-y: hidden;
    height: 620px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.tittleorderclass {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* width: 100%;
    max-width: 1440px; */
    margin: auto;
    position: absolute;
    top: 132px;
    width: 60%;
}

.tittleorderclass h1 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 88px;
    line-height: 100%;
    color: #FFFFFF;
    margin: 0px;
}

.tittleorderclass p {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 120%;
    color: #504F4F;
    margin: 0px;
    margin-top: 15px;
}

.orderclass {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    background-color: #FFFFFF;
    width: 856px;
    height: 194.44px;
    filter: drop-shadow(0px 5px 10px rgba(255, 174, 0, 0.26)) drop-shadow(0px 20px 40px rgba(255, 174, 0, 0.29));
    border-radius: 16px;
    margin-top: 32px;
    /* max-width: 1440px; */
}

.orderclass1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    width: 128px;
    height: 18px;
    background: rgba(241, 114, 40, 0.1);
    border-radius: 8px;
    margin: 24px 32px 24px 24px;
    cursor: pointer;
}

.orderclass1 p {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 100%;
    color: #F17228;
    margin: 0;
}

.orderclass2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    width: 128px;
    height: 18px;
    border-radius: 8px;
    margin: 24px 0px 24px 0px;
    cursor: pointer;
}

.orderclass2 p {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 100%;
    color: #757575;
    margin: 0;
}

.inputaddress {
    display: flex;
    flex-direction: row;
    position: relative;
}

.inputaddress img {
    position: absolute;
    top: 35px;
    left: 45px;
}

.inputaddress input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 0px 44px;
    width: 547px;
    height: 49px;
    background: #F5F5F5;
    border-radius: 8px;
    margin: 24px 0px 24px 30px;
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    color: #9E9E9E;
}

input.yourlocation::placeholder {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: #9E9E9E;
}

.inputaddress p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #9E9E9E;
    margin: 0px 0px 0px 12px;
}

.searchinputfindfood {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 199px;
    height: 60px;
    background: linear-gradient(95.71deg, #FF7A7A -39.64%, #F75900 135.31%);
    border-radius: 8px;
    margin: 20px 24px 24px 16px;
    border: 1px solid transparent;
    cursor: pointer;
    padding: 0px 0px 0px 46px;
}

.searchinputfindfood p {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    margin: 21px 48px 21px 10px;
}

/* .grayvageimagecardtag {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    margin: auto;
    overflow: hidden;
}

.card1 img {
    width: 357px;
} */


.grayvageimagecardflex {
    display: flex;
    flex-direction: row;
    margin: 80px 0px 80px 0px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.card1 {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding-left: 15px;
}

.disscount {
    position: absolute;
    left: 0px;
    bottom: 0px;
    border-bottom-left-radius: 15px;
}

.grayvageimagecardtagbacimg1 {
    background-image: url('Images/greys-vage-1.png');
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 100%;
    height: 301px;
    position: relative;
}

.grayvageimagecardtagbacimg2 {
    background-image: url('Images/greys-vage-2.png');
    background-repeat: no-repeat;
    width: 100%;
    border-radius: 15px;
    height: 301px;
    position: relative;
}

.grayvageimagecardtagbacimg3 {
    background-image: url('Images/greys-vage-3.png');
    background-repeat: no-repeat;
    width: 100%;
    border-radius: 15px;
    height: 301px;
    position: relative;
}

.grayvageimagecardtagbacimg4 {
    background-image: url('Images/greys-vage-4.png');
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 100%;
    height: 301px;
    position: relative;
}

.card p {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: #424242;
    margin: 0px;
    margin-top: 31px;
}

.card1 p {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: #424242;
    margin: 0px;
    margin-top: 31px;
}

.daysremaining {
    width: 205px;
    height: 42px;
    background: rgba(241, 114, 40, 0.2);
    border-radius: 8px;
    margin-top: 14px;
    cursor: pointer;
}

.daysremaining p {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 120%;
    color: #F17228;
    padding: 8px 16px;
    margin: 0px;
}

.howdoesitworkbacground {
    padding: 80px 0px;
    height: 358px;
    background: linear-gradient(180deg, rgba(255, 206, 103, 0.22) -42.47%, rgba(253, 237, 202, 0) 100%);
}

.howdoesitworkbacgroundflex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0px;
    padding: 0px;
}

.howdoesitworkbacground h1 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 43px;
    line-height: 112%;
    text-align: center;
    color: #F17228;
    margin: 0px 0px 71px 0px;
    padding: 0px;
}

.detailicon img {
    filter: drop-shadow(0px 5px 10px rgba(255, 174, 0, 0.26)) drop-shadow(0px 20px 40px rgba(255, 174, 0, 0.29));
}

.detailicon h4 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 120%;
    color: #434343;
    margin: 41px 0px 0px 0px;
}

.detailiconspecial h4 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 120%;
    color: #434343;
    margin: 41px 0px 0px -25px;
}

.detailicon p {
    width: 307px;
    height: 50px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #9E9E9E;
    margin: 10px 0px 0px -100px;
}

.popularitems {
    padding: 80px 0px;
    margin: 0;
    height: 605px;
}

.popularitems h1 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 43px;
    line-height: 112%;
    text-align: center;
    color: #212121;
    margin: 0;
}

.arrowicon {
    position: relative;
}

.leftarrowicon {
    cursor: pointer;
    position: absolute;
    top: 215px;
    left: 100px;
    box-shadow: 0px 5px 8px rgba(222, 151, 0, 0.24), 0px 14px 32px rgba(255, 178, 14, 0.29);
    border-radius: 92px;
}

.rightarrowicon {
    cursor: pointer;
    position: absolute;
    top: 215px;
    right: 100px;
    box-shadow: 0px 5px 8px rgba(222, 151, 0, 0.24), 0px 14px 32px rgba(255, 178, 14, 0.29);
    border-radius: 92px;
}

.popularitemsflex {
    display: flex;
    flex-direction: row;
    margin: 88px 0px 88px 0px;
}

.popularitemscard {
    display: flex;
    flex-direction: column;
    width: 20%;
    /* padding-left: 15px; */
}

.popularitemscard1 {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding-left: 15px;
}

.snacksbacimg1 {
    background-image: url('Images/snacks1.png');
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 100%;
    height: 283px;
}

.snacksbacimg2 {
    background-image: url('Images/snacks2.png');
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 100%;
    height: 283px;
}

.snacksbacimg3 {
    background-image: url('Images/snacks3.png');
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 100%;
    height: 283px;
}

.snacksbacimg4 {
    background-image: url('Images/snacks4.png');
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 100%;
    height: 283px;
}

.snacksbacimg5 {
    background-image: url('Images/snacks5.png');
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 100%;
    height: 283px;
}

.popularitemscard h6 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 120%;
    color: #424242;
    margin: 16px 0px 8px 0px;
}

.popularitemscard1 h6 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 120%;
    color: #424242;
    margin: 16px 0px 8px 0px;
}

.snacksaddress {
    display: flex;
    flex-direction: row;

}

.snacksaddress h6 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 120%;
    color: #FFB30E;
    margin: 0px 0px 0px 10px;
}

.popularitemscard p {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 120%;
    color: #212121;
    margin: 8px 0px 16px 0px;
}

.popularitemscard1 p {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 120%;
    color: #212121;
    margin: 8px 0px 16px 0px;
}

.ordernowbutton {
    background: #F17228;
    box-shadow: 0px 5px 10px rgba(253, 114, 92, 0.22), 0px 20px 40px rgba(250, 99, 35, 0.24);
    border-radius: 8px;
    cursor: pointer;
}

.ordernowbutton p {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
    margin: 21px 0px 21px 0px;
}

.featuredrestaurants {
    padding: 0px 0px 80px 0px;
}

.featuredrestaurants h1 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 43px;
    line-height: 112%;
    text-align: center;
    color: #212121;
    margin: 0px;
}

.topcard {
    display: flex;
    flex-direction: row;
    margin: 88px 0px 0px 0px;
}

.bottomcard {
    display: flex;
    flex-direction: row;
    margin: 64px 0px 88px 0px;
}

.featuredrestaurantsflex {
    display: flex;
    flex-direction: column;
    width: 25%;
    /* padding-left: 16px; */
}

.featuredrestaurantsflex1 {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding-left: 16px;
}


.featuredrestaurantsbacimg1 {
    background-image: url('Images/featuredrestaurantspic1.png');
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 100%;
    height: 301px;
    position: relative;
}

.featuredrestaurantsbacimg2 {
    background-image: url('Images/featuredrestaurantspic2.png');
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 100%;
    height: 301px;
    position: relative;
}

.featuredrestaurantsbacimg3 {
    background-image: url('Images/featuredrestaurantspic3.png');
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 100%;
    height: 301px;
    position: relative;
}

.featuredrestaurantsbacimg4 {
    background-image: url('Images/featuredrestaurantspic4.png');
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 100%;
    height: 301px;
    position: relative;
}

.featuredrestaurantsbacimg5 {
    background-image: url('Images/featuredrestaurantspic5.png');
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 100%;
    height: 301px;
    position: relative;
}

.featuredrestaurantsbacimg6 {
    background-image: url('Images/featuredrestaurantspic6.png');
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 100%;
    height: 301px;
    position: relative;
}

.featuredrestaurantsbacimg7 {
    background-image: url('Images/featuredrestaurantspic7.png');
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 100%;
    height: 301px;
    position: relative;
}

.featuredrestaurantsbacimg8 {
    background-image: url('Images/featuredrestaurantspic8.png');
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 100%;
    height: 301px;
    position: relative;
}

.rating {
    display: flex;
    flex-direction: row;
}

.rating p {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 120%;
    color: #424242;
    margin: 28px 0px 0px 24px;
}

.star {
    display: flex;
    flex-direction: row;
    margin: 4px 0px 0px 24px;
}

.star p {
    margin: 0px 0px 0px 10px;
}

.openstomorrowbutton {
    margin-top: 32px;
    width: 197px;
    height: 42px;
    background: rgba(241, 114, 40, 0.2);
    border-radius: 16px;
    cursor: pointer;
}

.opensnowbutton {
    margin-top: 32px;
    width: 133px;
    height: 42px;
    background: rgba(121, 185, 60, 0.2);
    border-radius: 16px;
    cursor: pointer;
}

.opensnowbutton p {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 120%;
    color: #79B93C;
    padding: 8px 16px;
    margin: 0px;
}

.openstomorrowbutton p {
    padding: 8px 16px;
    margin: 0px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 120%;
    color: #F17228;
}

.discountoffer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    position: absolute;
    width: 105px;
    height: 42px;
    left: 24px;
    top: 24px;
    background: #F17228;
    border-radius: 8px;
}

.discountoffer1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    position: absolute;
    width: 69px;
    height: 42px;
    left: 170px;
    top: 24px;
    background: #FFB30E;
    border-radius: 8px;
}

.discountoffer p {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 120%;
    color: #FFFFFF;
    margin: 0px 0px 0px 10px;
}

.discountoffer1 p {
    height: 26px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 120%;
    color: #FFFFFF;
    margin-left: 5px;
}

.viewallbutton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 178px;
    height: 60px;
    background: linear-gradient(97.86deg, #FFBA26 -8.95%, #FF9A0E 109.24%);
    box-shadow: 0px 5px 10px rgba(255, 174, 0, 0.26), 0px 20px 40px rgba(255, 174, 0, 0.29);
    border-radius: 14px;
    margin: 0px auto;
    cursor: pointer;
}

.viewallbutton p {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
    margin: 0px 10px;
}

.searchbyfood {
    padding: 80px 0px 55px 0px;
    height: 436px;
    background: #FEFAF1;
}

.searchbyfoodflex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.searchbyfoodflex h1 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 43px;
    line-height: 112%;
    text-align: center;
    color: #212121;
    margin: 0px 0px 28px 0px;
}

.viewallforstyle {
    display: flex;
    flex-direction: row;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #FFB30E;
    margin: 0px 10px;
}

.searchbyfoodsnacksimages {
    margin: 88px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.searchsnacksimags img {
    border-radius: 50%;
}

.searchsnacksimags p {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 120%;
    color: #424242;
    margin: 26px 0px 0px 0px;
    text-align: center;
}

.featuresbackgroung {
    padding: 130px 0px 0px 0px;
    height: auto;
    background: #FEEFD0;
    margin: 0px 0px;
    z-index: 1;
    position: relative;
}

.featuresbackgroung1 {
    background-color: #FFB30E;
    width: 100%;
    height: 285px;
    z-index: -2;
    position: absolute;
    bottom: 0px;
}

.featuresbackgroung2 {
    background-image: url('Images/Background1.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 520px;
    background-size: cover;
    position: absolute;
    z-index: -1;
    bottom: 70px;
}

.featurecard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1230px;
    height: 246px;
    background: #FFFFFF;
    box-shadow: 0px 14px 15px rgba(255, 174, 0, 0.01), 0px 27px 82px rgba(255, 174, 0, 0.28);
    border-radius: 46px;
    /* margin: 124px 0px; */
}

.featurecard1 {
    padding: 55px 55px 55px 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 369px;
    height: 136px;
    border-radius: 27px;
    /* margin: 0px 16px; */
}

.featurecard2 {
    padding: 55px 55px 55px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 369px;
    height: 136px;
    border-radius: 27px;
    /* margin: 0px 16px; */
}

.featurecard3 {
    padding: 55px 55px 55px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 369px;
    height: 136px;
    border-radius: 27px;
    /* margin: 0px 16px; */
}

.featurecard1 p {
    width: 152px;
    height: 84px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 120%;
    margin: 0px 55px 0px 20px;
    background: -webkit-linear-gradient(right, #FB3C00, #FFB800);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.featurecard2 p {
    width: 152px;
    height: 84px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 120%;
    margin: 0px 55px 0px 20px;
    background: -webkit-linear-gradient(right, #FB3C00, #FFB800);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.featurecard3 p {
    width: 152px;
    height: 84px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 120%;
    margin: 0px 0px 0px 20px;
    background: -webkit-linear-gradient(right, #FB3C00, #FFB800);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.downloadapp {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* margin: 124px 0px; */
    width: 1220px;
}

.installtheapp {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0px 0px 100px 0px;
}

.installtheapp h1 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 68px;
    line-height: 106%;
    margin: 0px 0px 16px 0px;
    background: -webkit-linear-gradient(left, #FFB800, #FF8A00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.installtheapp p {
    width: 350px;
    padding: 0px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: #827E7E;
    margin: 0px 0px 40px 0px;
}

.downloadapp1 img {
    margin: 61px 0px -4px 0px;
}

.detailscard1 {
    margin: 80px auto 80px auto;
}

.applogo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.applogo img {
    cursor: pointer;
}

.detailscard1flex {
    display: flex;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    filter: drop-shadow(0px 14px 15px rgba(124, 124, 124, 0.06)) drop-shadow(0px 27px 82px rgba(124, 124, 124, 0.28));
    border-radius: 16px;
}

.detailscard2flex {
    display: flex;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    filter: drop-shadow(0px 14px 15px rgba(124, 124, 124, 0.06)) drop-shadow(0px 27px 82px rgba(124, 124, 124, 0.28));
    border-radius: 16px;
    margin: 80px 0px 80px 0px;
}

.detailscard3flex {
    display: flex;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 0px 55px 0px;
    filter: drop-shadow(0px 14px 15px rgba(124, 124, 124, 0.06)) drop-shadow(0px 27px 82px rgba(124, 124, 124, 0.28));
    border-radius: 16px;
}

.flexwidth {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 56px;
    height: 400px;
    background: #FFFFFF;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    width: 33%;
    /* margin: 0px 0px; */
}

.flexwidth1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 56px;
    height: 400px;
    background: #FFFFFF;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    width: 33%;
    /* margin: 0px 0px; */
}

.flexwidth h3 {
    width: 407px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 43px;
    line-height: 112%;
    color: #353535;
    margin: 63px 0px 19px 0px;
}

.flexwidth p {
    width: 407px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    color: rgba(97, 97, 97, 0.69);
    margin: 0px 0px 63px 0px;
}

.flexwidth1 h3 {
    width: 407px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 43px;
    line-height: 112%;
    color: #353535;
    margin: 63px 0px 19px 0px;
}

.flexwidth1 p {
    width: 407px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    color: rgba(97, 97, 97, 0.69);
    margin: 0px 0px 63px 0px;
}

.proceedtoorderbutton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 407px;
    height: 60px;
    background: linear-gradient(92.84deg, #FFB800 -47.72%, #FF8A00 136.81%);
    box-shadow: 0px 5px 8px rgba(222, 151, 0, 0.24), 0px 14px 32px rgba(255, 178, 14, 0.29);
    border-radius: 8px;
    cursor: pointer;
}

.proceedtoorderbutton p {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0px 10px;
}

.detailsImage1 {
    background-image: url('Images/detailsimage1.png');
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    background-repeat: no-repeat;
    width: 100%;
    height: 512px;
    background-size: cover;
}

.detailsImage2 {
    background-image: url('Images/detailsimage2.png');
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    background-repeat: no-repeat;
    width: 100%;
    height: 512px;
    background-size: cover;
}

.detailsImage3 {
    background-image: url('Images/detailsimage3.png');
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    background-repeat: no-repeat;
    width: 100%;
    height: 512px;
    background-size: cover;
}

.bestdeal {
    background-image: url('Images/bestdeal.png');
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    margin: 0px;
    padding: 0px;
}

.bestdealflex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bestdealflex h1 {
    position: absolute;
    width: 728px;
    top: 91px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 57px;
    line-height: 97.5%;
    text-align: center;
    color: #FFFFFF;
    margin: 0px;
}

.proceedtoorderbutton1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 265px;
    background: linear-gradient(93.41deg, #F17228 -5.63%, #F15E28 100.8%);
    box-shadow: 0px 5px 8px rgba(222, 151, 0, 0.24), 0px 14px 32px rgba(255, 178, 14, 0.29);
    border-radius: 8px;
    cursor: pointer;
}

.proceedtoorderbutton1 p {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 21px 25px 21px 25px;
    margin: 0px;
}

.footer {
    /* height: 936px; */
    background: #212121;
    margin: 0px;
    padding: 0px;
    color: white;
}

.footertittle h1 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 120%;
    color: #FFFFFF;
    margin: 0px 0px 40px 0px;
    padding: 99px 0px 0px 0px;
}

.footerflex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 99px;
}

.flexclasscolum {
    display: flex;
    flex-direction: column;
}

.flexclasscolum p {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    color: #BBBBBB;
    margin: 0px;
    padding-bottom: 16px;
    cursor: pointer;
}


.footerflex1 {
    display: flex;
    flex-direction: row;
    margin-top: 63px;
}

.footerflex2 {
    display: flex;
    flex-direction: row;
}

.flexclass1 {
    display: flex;
    flex-direction: column;
}

.flexclass1 p {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    color: #BBBBBB;
    margin: 0px;
    padding-bottom: 16px;
    cursor: pointer;
}

#padding {
    margin-left: 150px;
}

.flexclass1 h3 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 120%;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px 40px 0px;
}

.footerflexicon {
    display: flex;
    flex-direction: row;
    margin: 0px 0px 45px 0px;
}

.footeremail {
    display: flex;
    flex-direction: row;
    margin: 45px 0px 65px 0px;
    position: relative;
}

.footeremail input {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 328px;
    height: 56px;
    background: #424242;
    border: 1px solid transparent;
    outline: none;
    border-radius: 8px;
    margin: 0px 16px 0px 0px;
    padding: 0px 0px 0px 50px;
    color: #ADADAD;
    font-size: 18px;
    cursor: pointer;
}

.footeremail img {
    position: absolute;
    top: 19px;
    left: 16px;
}

::placeholder {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: #ADADAD;
    cursor: none;
}

.subscribe {
    width: 133px;
    height: 60px;
    background: linear-gradient(92.84deg, #FFB800 -47.72%, #FF8A00 136.81%);
    box-shadow: 0px 5px 8px rgba(222, 151, 0, 0.24), 0px 14px 32px rgba(255, 178, 14, 0.29);
    border-radius: 8px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}

.subscribe p {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
    margin: 20px 10px 20px 10px;
}


@media screen and (max-width: 1500px) {
    body {
        margin: auto;
    }

    .mainwidth {
        width: 1400px;
    }

    .parentmainwidth {
        width: 100%;
        max-width: 960px;
        margin: auto;
    }

    .header-container, .body-container, .footer-container {
        max-width: 960px;
    }

}

/* On screens that are 600px wide or less, the background color is olive */
@media screen and (max-width: 600px) {
    body {
        background-color: olive;
        color: white;
    }
}