#a01{
    background-color:#0B2341;
    color:white;
}
.video-responsive{
    overflow:hidden;
    padding-bottom:30.5%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.dropdown {
    position:relative;
    display:inline-block;
}
.dropdown-content {
    display:none;
    position:absolute;
    background-color:#f1f1f1;
    width:30%;
    z-index:1;
}
.dropdown-content a {
    color:black;
    padding:5px 16px;
    text-decoration:none;
    display:block;
    font-size:10px;
    color:#0B2341;
}
.dropdown-content a:hover{background-color:#ddd;text-decoration:none;}
.dropdown:hover .dropdown-content {display:block;}
.img-responsive1:hover{background-color:#0B2341;}
a:hover{background-color:#bbb;}
.scroll_down{
    color:#666;
    position:fixed;
    border:1px solid transparent;
    z-index:1;
    right:0;
    top:50%;
    padding:2px;
    background-color:#fff;
    border-bottom-left-radius:3px;
    border-top-left-radius:3px;
}
.img-responsive{
    height:auto;
    max-width:100%;
    opacity:0.9;
}
.img-responsive1{
    height:auto;
    max-width:100%;
    background-color:#316ebb;
}
