#a01{
    background-color:#0B2341;
    color:white;
}
.collapse{
    font-size:15px;
}
.video-responsive{
    overflow:hidden;
    padding-bottom:30.5%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.dropdown {
    position:relative;
    display:inline-block;
}
.dropdown-content {
    display:none;
    position:absolute;
    background-color:#f1f1f1;
    width:150px;
    z-index:1;
}
.dropdown-content a {
    color:black;
    padding:5px 16px;
    text-decoration:none;
    display:block;
    font-size:8px;
    color:#0B2341;
}
.dropdown-content a:hover{background-color:#ddd;text-decoration:none;}
.dropdown:hover .dropdown-content {display:block;}
.scroll_down{
    color:#666;
    position:fixed;
    border:1px solid transparent;
    z-index:1;
    right:0;
    top:50%;
    padding:2px;
    background-color:#fff;
    border-bottom-left-radius:3px;
    border-top-left-radius:3px;
}
.img-responsive{
    height:auto;
    max-width:100%;
    opacity:0.9;
}
.img-responsive5{
    height:auto;
    max-width:100%;
    opacity:1;
    background-color:white;
}
.img-responsive5:hover{
    opacity:0.5;
}
.img-responsive4{
    height:auto;
    max-width:100%;
    opacity:0.9;
}
.img-responsive1:hover{background-color:#0B2341;}
.img-responsive:hover{
    background-color:#316ebb;
}
.img-responsive3{
    height:auto;
    max-width:100%;
}
.img-responsive1{
    height:auto;
    max-width:100%;
    background-color:#316ebb;
}
.font{
    font-size:16px;
}
.bacimage{
    background-image:url('task6.15.jpeg');
    background-repeat:no-repeat;
    width:100%;
    height:150px;
}
.xyz{
    color:black;
    text-align:left;
    margin-left:30%;
}
.bulb{
    width:10%;
    height:100%;
}
.service{
    text-align:center;
}
.forh1{
    margin:1px;
}
.aimg{
    position:relative;
    opacity:1;
    color:transparent;
}
.aimg4{
    position:relative;
}
.aimg:hover{
    opacity:0.6;
    transition:0.5s ease;
    color:white;
}
.center{
    position: absolute;
    top:50%;
    width:100%;
    text-align: center;
    font-size:13px;
}
.bottomleft{
    position:absolute;
    bottom:10px;
    right:0px;
    background-color:#0B2341;
    padding-left:5px;
    text-align:left;
    font-size:13px;
    width:190px;
    height:33px
}
.aimg1:hover{
    transition:0.2s;
    transform:rotate(360deg);
}
.a07{
    font-size:13px;
    margin-left:38%;
}
.a11{
    font-size:12px;
}
.a10{
    margin-top:-20px;
}
.a12{
    margin-bottom:15px;
    background-color:#A6A6A6;
    border:2px solid transparent;
    color:white;
}
.a12:hover{
    color:#bbb;
    background-color:#0B2341;
    transition:0.5s ease;
}
@media screen and (max-width:1600px){
    .font{
        font-size:18px;
        padding:0px;
    }
    .a07{
        display:none;
    }
    .a10{
        padding:50px;
    }
}
@media screen and (max-width:1490px){
    .font{
        font-size:16px;
        padding:0px;
    }
    .a07{
        display:none;
    }
}
@media screen and (max-width:1400px){
    .font{
        font-size:15px;
        padding:0px;
    }
    .a07{
        display:none;
    }
}
@media screen and (max-width:1300px){
    .font{
        font-size:14px;
        padding:0px;
    }
    .a07{
        display:none;
    }
}
@media screen and (max-width:1280px){
    .font{
        font-size:14px;
        padding:0px;
    }
    .a07{
        display:none;
    }
}
@media screen and (max-width:1200px){
    .font{
        font-size:13px;
        padding:0px;
    }
    .collapse{
        font-size:12px;
    }
    .a07{
        display:none;
    }
}
@media screen and (max-width:1170px){
    .font{
        font-size:12.5px;
        padding:0px;
    }
    .a07{
        display:none;
    }
}
@media screen and (max-width:1099px){
    .font{
        font-size:12px;
        padding:0px;
    }
    .a07{
        display:none;
    }
}
@media screen and (max-width:1079px){
    .font{
        font-size:11.5px;
        padding:0px;
    }
    .a07{
        display:none;
    }
}
@media screen and (max-width:1030px){
    .font{
        font-size:11px;
        padding:0px;
    }
    .a07{
        display:none;
    }

}
@media screen and (max-width:988px){
    .font{
        font-size:10.5px;
        padding:0px;
    }
    .collapse{
        font-size:7px;
    }
    .a07{
        display:none;
    }
}
@media screen and (max-width:940px){
    .font{
        font-size:10px;
        padding:0px;
    }
        .a07{
        display:none;
    }
}
@media screen and (max-width:930px){
    .font{
        font-size:9.9px;
        padding:0px;
    }
    .a07{
        display:none;
    }
}
@media screen and (max-width:900px){
    .font{
        font-size:8.8px;
        padding:0px;
    }
    .a07{
        display:none;
    }
}
@media screen and (max-width:800px){
    .font{
        font-size:8px;
        padding:0px;
    }
    .a07{
        display:none;
    }
}
@media screen and (max-width:768px){
    .font{
        font-size:8px;
        padding:0px;

    }

}
@media screen and (max-width:767px){
    .font{
        font-size:7.5px;
        padding:0px;
    }
    .collapse{
        font-size:16px;
    }
    .a05{
        display:none;
    }
    .a06{
        display:none;
    }
    .a07{
        display:inline;
        font-size:11px;
        margin-left:60%;
    }
    
}
@media screen and (max-width:730px){
    .font{
        font-size:7px;
        padding:0px;
    }
}
@media screen and (max-width:650px){
    .font{
        font-size:6px;
        padding:0px;
    }
}
@media screen and (max-width:600px){
    .font{
        font-size:6px;
        padding:0px;
    }
}
@media screen and (max-width:578px){
    .font{
        font-size:5px;
        padding:0px;

    }
}
@media screen and (max-width:577px){
    .font{
        font-size:13px;
        padding:0px;

    }
    .a07{
        display:inline;
        font-size:11px;
        margin-left:58%;
    }
}
@media screen and (max-width:524px){
    .a07{
        display:inline;
        font-size:11px;
        margin-left:55%;
    }
}
@media screen and (max-width:492px){
    .a07{
        display:inline;
        font-size:11px;
        margin-left:50%;
    }
    .a10{
        padding:4px;
    }
    .a11{
        font-size:10px;
    }
}
@media screen and (max-width:445px){
    .a07{
        display:inline;
        font-size:11px;
        margin-left:45%;
    }
    .a11{
        font-size:9px;
    }
}
@media screen and (max-width:430px){
    .a07{
        display:inline;
        font-size:11px;
        margin-left:40%;
    }
    .a11{
        font-size:9.3px;
    }
}
@media screen and (max-width:377px){
    .a07{
        display:inline;
        font-size:11px;
        margin-left:36%;
    }
}
